* {
    margin: 0;
    padding: 0;
  }

  html, body {
      
    height: 100%;
    width:100%;
    /* min-height: 100%; */
    margin: 0px;
    /* overflow: hidden; */
    /* padding-bottom: 20px; */
    padding:0px;
    overflow-x: hidden; 
    overflow-y: hidden; 
  }

  div#root,div.mainContainer{
    background-color: #e8ead3;
    position: relative;
    height: 100%;
    overflow: hidden;

}